@import url(//db.onlinewebfonts.com/c/101df57ddcac22747b33094cf2b6925d?family=Facebook+Letter+Faces);

.Header {
  display: flex;
  background-color: #4A90E2;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Brand{
  color: #FFF;
  margin-left: 40px;
  font-family: 'Facebook Letter Faces', bold;
  font-weight: bold;
  font-size: 30px;
}

.textHeader {
  margin-right: 40px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  text-align: center;

  color: #FFFFFF;
}